{include file="_block_inner_head_add.html"}
<form name="theForm" action="" method="post">
<table width="100%" border="0">
<tr>
<td style="padding:10px" colspan="4">
	<div style="padding-bottom:5px; font-size:14px; float:left">
	<strong>{if $clsForm->pval ne ""}{$core->getLang("Edit")} {$clsForm->getTitle()}: #{$clsForm->pval}
			{else}{$core->getLang("Add")} {$clsForm->getTitle()}
			{/if}</strong>
	{if $arrParent.name ne ""}
	[Trang cha: <b>{$arrParent.name}</b>]
	{/if}

	</div>
	<div style="float:right;font-size:12px; color:blue" align="right">
	</div>
</td>
</tr>
<tr>
<td style="padding:0px 10px" width="100%" valign="top">
	<input type="hidden" id="is_page" value="1" />
	{$clsForm->showJS()}
	<table cellpadding="0" cellspacing="0" width="100%" border="0" class="girdtable">
	<tr>
		<td colspan="2" class="gridheader1">{$core->getLang("InputCorrectlyAllBelowFields")}</td>
	</tr>
	{if $clsForm->isValid ne 1}
	<tr>
		<td class="gridrow1" style="color:red; padding:5px" colspan="2">
		{$clsForm->showAllError()}
		</td>
	</tr>
	{/if}
	{$clsForm->showForm()}
	</table>
	<em><font style="font-size:10px">{$core->getLang("Note")}: * {$core->getLang("isrequired")}</font></em>
</td>
</tr>
</table>
</form>
{literal}
<script>
	$("#course_name").after('<div class="ac_results" id="search_result"></div>');
	$("#course_name").keyup(function (e) {
		if (e.which != 13) {
			$.ajax({
				type: "POST",
				url: vncms_url + "/ajax/getcourses",
				dataType: "text",
				data: {'keyword': $("#course_name").val()}
			}).done(function (str) {
				if (str != "") {
					$("#search_result").show();
					$("#search_result").html(str);
				} else {
					$("#search_result").hide();
				}

			});
		}
	});
	function selectTag(obj) {
		var value = $(obj).attr("tag-value");
		var title = $(obj).attr("tag-title");
		$('#course_name').val(title);
		$('#course_id').val(value);
		$("#search_result").hide();
	}
</script>
{/literal}