{literal}
<script>
function save(){
	document.theForm.btnSave.value = "Save";
	document.theForm.submit();
}
function gotoEditLang(){
	url = "?mod=language&act=add&lang_id=" + document.theForm.language_id.value;
	window.location = url;
	return false;
}
function gotoEditKey(){
	url = "?mod=languagevalue&lang_id=" + document.theForm.language_id.value;
	window.location = url;
	return false;
}
</script>
{/literal}
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr style="background:#FBFBFB">
<td width="55px" style="border-bottom:1px #CCCCCC solid;">
<div style="padding:3px"><a href="?mod={$mod}"><img src="{$ADMIN_URL_IMAGES}/largeicon/cubes.png" border="0"/></a></div>
</td>
<td style="color:#990000;border-bottom:1px #CCCCCC solid;">
<font style="font-size:24px; text-transform:uppercase"><b>{$core->getLang("Language")} </b></font><br />
<font style="font-size:9px"><i>{$core->getLang("Language")}</i></font>
</td>
<td style="padding-right:10px; border-bottom:1px #CCCCCC solid;" align="right">
<div>
	<table cellpadding="2px" border="0">
	<tr>
		{$clsButtonNav->render()}		
	</tr>
	</table>
</div>
</td>
</tr>
</table>
<form name="theForm" action="" method="post">
<input type="hidden" name="btnSave" value="">
<table width="100%" border="0">
<tr>
<td style="padding-left:10px;padding-right:10px" colspan="4">
	<div style="padding-bottom:5px;font-size:14px">
	<strong>{$core->getLang("Choose_FrontEnd_Language")}</strong>
	</div>
</td>
</tr>
<tr>
<td style="padding-left:10px;padding-right:10px" width="100%" valign="top">
	<table cellpadding="0" cellspacing="0" width="100%" border="0" class="girdtable">
	<tr>
		<td colspan="2" class="gridheader1">{$core->getLang("InputCorrectlyAllBelowFields")}</td>
	</tr>
	<tr>
		<td class="gridrow2" width="40%">{$core->getLang("Chose_default_Language")}</td>
		<td class="gridrow3">
		{$language_id_html}	[<a href="" onclick="return gotoEditLang();">{$core->getLang("Edit_Language")}</a>] [<a href="" onclick="return gotoEditKey();">{$core->getLang("Edit_KeyValue")}</a>]
		</td>
	</tr>
	</table>
	<em><font style="font-size:10px">{$core->getLang("Note")}: * {$core->getLang("isrequired")}</font></em>
</td>
</tr>
</table>
</form>