{include file="_block_inner_head.html"}
<form name="theForm" action="" method="post" id="theForm">
<table width="100%" border="0">
<tr>
<td style="padding:10px">
	<div style="font-size:14px; float:left; width:70%">
	<strong>{$core->getLang("ListOf")} {$clsDataGrid->getTitle()}</strong>
	<select name="mod_sub_act" onchange="submitform();">
	{$htmlOptionsModSubAct}
	</select>
	
	<select name="position" onchange="submitform();">
	<option value="">Tất cả các vị trí</option>
	{$htmlOptionsPosition}
	</select>
	<input type="submit" value="Go" name="btnGo">
	</div>
	<div style="float:right;font-size:12px; width:29%; color:blue" align="right">
	Ngôn ngữ: {$lang_code_name}
	</div>
</td>
</tr>
<tr>
<td style="padding:0px 10px" width="100%" valign="top">
	{$clsDataGrid->showDataGrid("theForm")}
</td>
</tr>
<tr>
<td  style="padding:0px 10px">
	{$clsDataGrid->showPaging("theForm")}
</td>
</tr>
</table>
</form>
