<div class="inner_head_title">
	<div class="container-fluid">
  		<div class="row mt-1">
  			<div class="col-sm">
  				{if $clsCP->getImgSrc() ne ""}
  				<a href="?mod={$mod}" class="float-left mr-1"><img src="{$clsCP->getImgSrc()}" border="0" align=''/></a>
  				{/if}
  				<span class="title1">{if $_LANG_ID ne "vn"}{$clsForm->getTitle()}{else}{$clsForm->getTitle()}{/if}</span><br />
				<span class="title2">{if $_LANG_ID ne "vn"}{$clsForm->getTitle()} {$core->getLang("Management")}{else}{$core->getLang("Management")} {$clsForm->getTitle()}{/if} ({$lang_code_name})</span>
  			</div>
  			<div class="col-sm text-center text-md-right align-middle">
  				<div class="mt-2 mb-1">
  				{$clsButtonNav->render()}
  				</div>
  			</div>
  		</div>
  	</div>
</div>