<!DOCTYPE html>
<html>
<head>
<title>Admin Control Panel</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="NOINDEX, NOFOLLOW">
<script>var vncms_url = "{$VNCMS_URL}";var vncms_url_admin = "{$VNCMS_URL}/admin";</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="{$ADMIN_URL_CSS}/chosen.min.css" type="text/css">
<link rel="stylesheet" href="{$ADMIN_URL_CSS}/admin.css" type="text/css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" defer="defer"></script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/global.js"></script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/admin.js"></script>
</head>
<body class="skin-blue">
{if $smarty.get.clearCache==1}
<script>alertClearCacheDone();</script>
{/if}
{include file="_header.html"}
{include file="$mod/index.html"}
{include file="_footer.html"}
</body>
</html>
